
.gameRaster {
    margin-top: 30px;
    padding: 20px;
    transition: all 0.2s ease;

    h3 {
        margin: 0 0 20px 0;
    }

    &.finished {
        background: lightgray;
    }

    &.hasGameWinner {
        background: lightgreen;
    }

    .gameField {
        border: 1px solid #000;
        border-collapse: collapse;
        user-select: none;
        transition: all 0.2s ease
    }

    h3 {
        display: inline-block;
        font-size: 28px;
        margin: 0 0 20px;
        padding: 10px;
    }

    .blink {
        animation-duration: 1000ms;
        animation-name: blink;
        animation-iteration-count: infinite;
        background: #fff;
    }

    @keyframes blink {
        0% {
            color: pink;
        }

        25% {
            color: green;
        }

        50% {
            color: blue;
        }

        75% {
            color: red;
        }

        100% {
            color: pink;
        }
    }
}
