
.gameCell {
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 40px;
    transition: all 0.2s ease;

    &:hover {
        background: #eee;
    }

    &.active,
    &.active:hover {
        background: #fff;
        cursor: auto;
    }
}
